h1{
    font-size: 42px;
    text-transform: uppercase;
    text-align:center;
}


p{
    font-size:20px;
    line-height:medium; /* Adjust line height for better readability */
    font-family: Arial, sans-serif; /* Set a clean and modern font */
    color: #333; /* Dark gray text color for better contrast */
    margin: 20px; /* Add some margin around paragraphs */


}

/* Style for span elements */

span{
    text-transform: uppercase;/* Uppercase text for spans */
    font-size: 14px;/* Smaller font size for spans */
    
}

ul{
    list-style: none;
}

/* Example: using a custom class */
.bitcount-text {
  font-family: "Bitcount Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 400; /* choose between 100–900 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

.jer{
    position: relative;
}


.name {
  font-family: "Bitcount Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 101px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

.geo-regular {
  font-family: "Geo", sans-serif; /* Uses the Geo font; falls back to sans-serif */
  font-weight: 800;              /* Regular weight */
  font-style: normal;      
    }    /* Normal style */