*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
    color: white;
    padding: 40px;
    ;
}
h1{
    font-size: 42px;
    text-transform: uppercase;
    text-align:center;
    color: white;
    margin-bottom: 16px;
    text-align: center  ;
}
.header{
    margin-bottom: 40px;
    background-color: red;
}

.form{
    margin-bottom: 40px;
    background-color: #44403c;
    padding: 16px 40px;
    text-align: center;

}
p{
    font-size:20px;
    line-height:medium; /* Adjust line height for better readability */
    font-family: Arial, sans-serif; /* Set a clean and modern font */
    color: #333; /* Dark gray text color for better contrast */
    margin: 20px; /* Add some margin around paragraphs */
    color: white;


}

/* Style for span elements */

span{
    text-transform: uppercase;/* Uppercase text for spans */
    font-size: 14px;/* Smaller font size for spans */
    color: white; /* White color for spans */

    
}

.fact{
    font-size: 20px;
    line-height: 1.4;
    background-color: #44403c; /* Dark gray background for contrast */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 16px;
    padding: 16px;
    padding :16px 24px;
}

ul{
    list-style: none;
    color: white;
    margin-bottom: 16px;
}

/* Example: using a custom class */
.bitcount-text {
  font-family: "Bitcount Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 400; /* choose between 100–900 */
  font-style: normal;
  color: white;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

.jer{
    position: relative;
}


.name {
    text-transform: uppercase;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.geo-regular {
    color: white;
  font-family: "Geo", sans-serif; /* Uses the Geo font; falls back to sans-serif */
  font-weight: 800;              /* Regular weight */
  font-style: normal;      
    }    /* Normal style */